<%= render 'layouts/content_header', title: 'Sign up', sub_title: 'Create a new obli account', links: [] %>
<%= render "devise/shared/links" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= render 'layouts/center_p', text: 'Email' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= render 'layouts/center_p', text: 'Password' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= render 'layouts/center_p', text: "Password confirmation" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  <div class="actions d-flex justify-content-center">
    <%= render 'layouts/submit_form', form: f, text: 'sign up' %>
  </div>
<% end %>
