<%= form_with model: @obligation, local: true do |form| %>
  <% if @obligation.errors.any? %>
    <%= render 'layouts/flash_alert', alerts: @obligation.errors.full_messages %>
  <% end %>
  <div class="form-group">
    <%= render 'layouts/center_p', text: "Title" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= render 'layouts/center_p', text: "Currency" %>
    <%= form.select :currency, options_for_select([['MYR', 'MYR'], ['SGD', 'SGD']], 'MYR'), {}, { class: "custom-select" } %>
  </div>
  <div class="d-flex justify-content-center">
    <%= render 'layouts/submit_form', form: form, text: 'Create' %>
  </div>
<% end %>
