<%= form_with model: @obligation, local: true do |form| %>
  <% if @obligation.errors.any? %>
    <% @obligation.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <div class="form-group">
    <p class="text-center pb-1"><strong>title<strong></p>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <p class="text-center pb-1"><strong>currency<strong></p>
    <%= form.select :currency, options_for_select([['RM', 'MYR'], ['SGD', 'SGD']], 'MYR'), {}, { class: "custom-select" } %>
  </div>
  <div class="d-flex justify-content-end">
    <%= form.submit '[create]', class: 'btn btn-link px-1' %>
  </div>
<% end %>
