<%= form_with model: @obligation, local: true do |form| %>
  <% if @obligation.errors.any? %>
    <h2><%= 'Error'.pluralize(@obligation.errors.count) %></h2>
    <ul>
      <% @obligation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p><%= form.submit %></p>
<% end %>
