<h1>Obligation</h1>
<p><strong>Title:</strong> <%= @obligation.title %></p>
<h2>New payment</h2>
<%= render 'payments/form' %>
<% if @obligation.payments.any? %>
  <h2>Payments</h2>
  <%= render @obligation.payments %>
<% end %>
<%= link_to 'Edit', edit_obligation_path(@obligation) %>
<%= link_to 'Back', obligations_path %>
