<%= render partial: 'layouts/content_header', locals: { title: @title, sub_title: @sub_title, links: @links } %>
<% unless @this_month_payment %>
  <div class="alert alert-primary d-flex flex-column align-items-center">
    <%= render 'layouts/center_p', text: "You haven't paid this month's payment" %>
    <%= render 'layouts/button', title: 'pay', path: new_obligation_payment_path(@obligation) %>
  </div>
<% end %>
<div class="my-1">
  <div class="list-group list-group-flush">
    <%= render @payments %>
  </div>
</div>
<% if @can_delete %>
  <div class="alert alert-danger d-flex flex-column align-items-center">
    <%= render 'layouts/button', title: 'delete', path: obligation_path(@obligation), method: :delete %>
  </div>
<% end %>
