<h1><%= @obligation.title %> payments</h1>
<%= link_to 'New payment', new_obligation_payment_path(@obligation), class: 'btn btn-link' %>
<%= link_to 'Edit', edit_obligation_path(@obligation), class: 'btn btn-link' %>
<%= link_to 'Back', obligations_path, class: 'btn btn-link' %>
<% if @obligation.payments.any? %>
  <ul class="list-group">
    <%= render @obligation.payments %>
  </ul>
<% end %>
