<%= render 'layouts/content_header', title: 'login', sub_title: 'sign in to obli', links: [] %>
<%= render "devise/shared/links" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= render 'layouts/center_p', text: "Email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= render 'layouts/center_p', text: "Password" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="d-flex justify-content-center">
      <div class="form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    </div>
  <% end -%>
  <div class="actions d-flex justify-content-end">
    <%= render 'layouts/submit_form', form: f, text: 'Confirm' %>
  </div>
<% end %>
