<!DOCTYPE html>
<html lang="en">
  <head>
    <title>obli</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/navigation' %>
    <div id="main-container" class="container px-3 py-2">
      <%= yield %>
    </div>
    <div class="py-2 text-center">.</div>
  </body>
</html>
