<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rails5Project</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% unless user_signed_in? %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% else %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
